body{
    background-color: black;
}


.iframe{
    position: absolute;
    top: 0;
    left:0;
    width: 110vmax;
    height: auto;
    pointer-events: none;
    overflow:hidden;
}
.buffer{
    margin-left:20px;
}
.page-header section-dark{
 overflow: hidden; 
}
.navbar-brand{
    background: linear-gradient(to bottom, #FFFFFF 50%, #4e6773 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.presentation-subtitle{
    /* color: black; */
    font-size: 25px;
}

.bird-logo{
   width: 90px ;
  
/* border-radius: 50px;
   border: 0px;
   padding: 0px;
   background: ; */
}
.logo-background{
    width: 65px;
    height: 65px;
    margin: 12px;
    content: " ";
    position: absolute;
    z-index: -1;
    border-radius: 90px;
    background-color: rgb(255,255,255,.4);
    overflow: auto;
}
.title_logo{
    display: flex;
    justify-content: space-between;
   
}

.page-header .section-dark{
    background: url(images/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
