body{
    background-color: black;
}

/* .videoWrapper{
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0;
} */
.iframe{
    position: absolute;
    top: 0;
    left:0;
    width: 110vmax;
    height: auto;
    pointer-events: none;
    overflow:hidden;
}
.buffer{
    margin-left:20px;
}
.page-header section-dark{
 overflow: hidden; 
}


.presentation-title{
    color: white;
}

.bird-logo{
   width: 90px ;
  
/* border-radius: 50px;
   border: 0px;
   padding: 0px;
   background: ; */
}
.logo-background{
    width: 65px;
    height: 65px;
    margin: 12px;
    content: " ";
    position: absolute;
    z-index: -1;
    border-radius: 90px;
    background-color: rgb(255,255,255,.4);
    overflow: auto;
}
.title_logo{
    display: flex;
    justify-content: space-between;
   
}

